@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
}

a, img {
    display: block;
}

iframe {
    display: block;
}

main {
    position: relative;
    height: 100vh;

    background: url("../imagens/fundo-madeira.jpg") top center no-repeat fixed;
    background-size: cover;
}

section#phone {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);

    width: 311px;
    height: 627px;

    background: url("../imagens/frame-iphone.png") center center no-repeat;
    background-size: cover;
}

section#phone > #screen {
    position: relative;
    top: 80.5px;
    left: 22px;

    width: 267.5px;
    height: 471px;

    border-radius: 1px;
}

section nav {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

section#social-medias a {
    margin: 10px;    
}

section#social-medias img {
    box-sizing: border-box;

    width: 44px;

    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.404);

    transition: transform .1s, border .2s, box-shadow .1s;
}

section#social-medias img:hover {
    transform: translate(-3px, -3px);

    border: 1px solid rgba(255, 255, 255, 0.692);
    box-shadow: 6px 6px 5px rgba(24, 24, 24, 0.404);
}